.privacy-notice {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  width: 100%; /* Asegura que la sección ocupe el 100% del ancho disponible */
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 100px;
  height: auto;
  width: auto; /* Asegura que el logo sea responsive */
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px;
}

.description {
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  padding: 20px;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 15px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:disabled {
  background-color: #f1f1f1;
}

.signature-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 600px) {
  .privacy-notice {
    padding: 10px;
  }

  .title {
    font-size: 20px; /* Reducir el tamaño de la fuente en pantallas pequeñas */
  }

  .form-title {
    font-size: 16px;
  }

  .input-group {
    margin-bottom: 10px;
  }

  input[type="text"] {
    font-size: 14px; /* Reduce el tamaño del texto en pantallas pequeñas */
  }

  .signature-container {
    width: 100%;
  }
}
