.signature-pad {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .signature-canvas {
    border: 1px solid #000;
    background-color: #fff;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
  }
  
  .clear-button,
  .save-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100%; /* Los botones ocupan el 100% en pantallas pequeñas */
    max-width: 200px; /* Máximo ancho para pantallas grandes */
  }
  
  .clear-button {
    background-color: #ffcc00;
    color: #fff;
  }
  
  .save-button {
    background-color: #4caf50;
    color: #fff;
  }
  
  .clear-button:disabled,
  .save-button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .clear-button:hover:not(:disabled),
  .save-button:hover:not(:disabled) {
    opacity: 0.8;
  }
  
  .signed-message {
    margin-top: 20px;
    font-size: 16px;
    color: green;
  }
  
  /* Media Queries para pantallas pequeñas */
  @media (max-width: 600px) {
    .signature-canvas {
      height: 150px; /* Menor altura para dispositivos pequeños */
    }
  
    .button-group {
      flex-direction: column; /* Los botones se apilan en pantallas pequeñas */
    }
  
    .clear-button,
    .save-button {
      width: 100%; /* Los botones ocupan todo el ancho en pantallas pequeñas */
    }
  }
  